body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #ffffff;
  color: #000;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 40px;
  border: 3px solid #FF6600;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
}

h1 {
  color: #FF6600;
  text-align: center;
  margin-bottom: 20px;
  font-size: 45px;
  }

.instructions {
 font-size: 18px;
 text-align: left;
 padding: 20px;
 background-color: #f8f9fa;
}

h2 {
  text-align: left;
  margin-bottom: 15px;
  color: #000;
}

.instructions ol {
  padding-left: 30px; /* Space for numbering */
}

.instructions li {
  margin: 10px 0;
  position: relative;
}

.instructions li::marker {
  color: #FF6600; /* Number color */
  font-weight: bold;
}

.student-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

input, select {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #FF6600;
  border-radius: 6px;
}

button {
  background: #FF6600;
  color: #000;
  padding: 14px 25px;
  border: none;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #ff8c33;
}

.timer-score {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 20px;
}

.question-box {
  border: 2px solid #FF6600;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #fffaf0;
}

.options label {
  display: block;
  margin: 12px 0;
  font-size: 17px;
  cursor: pointer;
}

.pass {
  color: green;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.fail {
  color: red;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.id-age-row {
  display: flex;
  gap: 10px;
}
.id-age-row input, .id-age-row select {
  flex: 1;
}

